/*
  Google HTML5 slides template

  Authors: Luke MahÚ (code)
		   Marcin Wichary (code and design)
		   
		   Dominic Mazzoni (browser compatibility)
		   Charles Chen (ChromeVox support)

		   Rhys Lloyd (responsive layout)

  URL: http://code.google.com/p/html5slides/
*/
/* Framework */
/* line 24, ../sass/styles.scss */
html {
  height: 100%;
}

/* line 28, ../sass/styles.scss */
body {
  margin: 0;
  padding: 0;
  display: block !important;
  height: 100%;
  font-size: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  background: #d7d7d7;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #f0f0f0), color-stop(100%, #bebebe));
  background: -webkit-radial-gradient(#f0f0f0, #bebebe);
  background: -moz-radial-gradient(#f0f0f0, #bebebe);
  background: -o-radial-gradient(#f0f0f0, #bebebe);
  background: radial-gradient(#f0f0f0, #bebebe);
  -webkit-font-smoothing: antialiased;
}

/* line 41, ../sass/styles.scss */
.slides {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 50, ../sass/styles.scss */
.slides > article {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 1.875em;
  line-height: 1.2em;
  letter-spacing: -0.033em;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  margin-left: -40%;
  margin-top: -40%;
  padding: 4% 6%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: white;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  display: none;
}
/* line 83, ../sass/styles.scss */
.slides > article.far-past {
  display: block;
  -webkit-transform: translateX(-214%);
  -moz-transform: translateX(-214%);
  -ms-transform: translateX(-214%);
  -o-transform: translateX(-214%);
  transform: translateX(-214%);
}
/* line 87, ../sass/styles.scss */
.slides > article.past {
  display: block;
  -webkit-transform: translateX(-107%);
  -moz-transform: translateX(-107%);
  -ms-transform: translateX(-107%);
  -o-transform: translateX(-107%);
  transform: translateX(-107%);
}
/* line 91, ../sass/styles.scss */
.slides > article.current {
  display: block;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  z-index: 10;
}
/* line 96, ../sass/styles.scss */
.slides > article.next {
  display: block;
  -webkit-transform: translateX(107%);
  -moz-transform: translateX(107%);
  -ms-transform: translateX(107%);
  -o-transform: translateX(107%);
  transform: translateX(107%);
}
/* line 100, ../sass/styles.scss */
.slides > article.far-next {
  display: block;
  -webkit-transform: translateX(212%);
  -moz-transform: translateX(212%);
  -ms-transform: translateX(212%);
  -o-transform: translateX(212%);
  transform: translateX(212%);
}
/* line 107, ../sass/styles.scss */
.slides.template-default > article:not(.nobackground):not(.biglogo) {
  background-image: url(../images/logo.svg);
  background-size: 15%;
  background-position: 95.5% 96.8%;
}
/* line 112, ../sass/styles.scss */
.slides.template-default article.biglogo {
  background-image: url(../images/logo.svg);
  background-size: 40%;
  background-position: 50%;
}
/* line 119, ../sass/styles.scss */
.slides.number-slides > article[data-slide-number]:not(.biglogo):not(.title):after {
  content: "Slide " attr(data-slide-number);
  font-size: 0.6em;
  position: absolute;
  bottom: 4%;
  color: #999;
}

/* line 130, ../sass/styles.scss */
.slide-area {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 80%;
  margin-top: -40%;
  left: 50%;
  top: 50%;
  cursor: pointer;
  tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/* line 147, ../sass/styles.scss */
#prev-slide-area {
  margin-left: -50%;
}

/* line 151, ../sass/styles.scss */
#next-slide-area {
  margin-left: 40%;
}

/* line 156, ../sass/styles.scss */
b {
  font-weight: 600;
}

/* line 160, ../sass/styles.scss */
.blue {
  color: #0066cc;
}

/* line 164, ../sass/styles.scss */
.yellow {
  color: #ffd319;
}

/* line 168, ../sass/styles.scss */
.green {
  color: #008a35;
}

/* line 172, ../sass/styles.scss */
.red {
  color: red;
}

/* line 176, ../sass/styles.scss */
.black {
  color: black;
}

/* line 180, ../sass/styles.scss */
.white {
  color: white;
}

/* line 184, ../sass/styles.scss */
a {
  color: #0066cc;
}
/* line 186, ../sass/styles.scss */
a:visited {
  color: rgba(0, 102, 204, 0.75);
}
/* line 189, ../sass/styles.scss */
a:hover {
  color: black;
}

/* line 194, ../sass/styles.scss */
p {
  margin: 0;
  padding: 0;
  margin-top: 0.667em;
}
/* line 198, ../sass/styles.scss */
p:first-child {
  margin-top: 0;
}

/* line 203, ../sass/styles.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
  margin: 0;
  margin-top: 3.5em;
  padding: 0;
  padding-right: 0.667em;
  letter-spacing: -0.05em;
  font-weight: 600;
  color: #333333;
}

/* line 215, ../sass/styles.scss */
h2 {
  font-size: 1.5em;
  line-height: 1em;
  bottom: 20%;
  position: absolute;
  bottom: 150px;
  padding: 0;
  margin: 0;
  padding-right: 0.889em;
  font-weight: 600;
  letter-spacing: -0.044em;
  color: #333333;
}

/* line 229, ../sass/styles.scss */
h3 {
  font-size: 1em;
  line-height: 1.2em;
  padding: 0;
  margin: 0;
  padding-right: 1.333em;
  font-weight: 600;
  letter-spacing: -0.033em;
  color: #333333;
}

/* line 240, ../sass/styles.scss */
article.fill h3 {
  background: rgba(255, 255, 255, 0.75);
  padding-top: .2em;
  padding-bottom: .3em;
  margin-top: -0.2em;
  margin-left: -3em;
  padding-left: 3em;
  margin-right: -3em;
  padding-right: 3em;
}

/* line 251, ../sass/styles.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.333em;
  margin-left: .75em;
}
/* line 257, ../sass/styles.scss */
ul:first-child {
  margin-top: 0;
}
/* line 260, ../sass/styles.scss */
ul ul {
  margin-top: .5em;
}
/* line 263, ../sass/styles.scss */
ul ul li:before {
  content: '-';
}

/* line 269, ../sass/styles.scss */
li {
  padding: 0;
  margin: 0;
  margin-bottom: .5em;
}
/* line 273, ../sass/styles.scss */
li::before {
  content: '·';
  width: .75em;
  margin-left: -0.75em;
  position: absolute;
}

/* line 281, ../sass/styles.scss */
pre {
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 0.667em;
  line-height: 1.4em;
  padding: 1% 2%;
  letter-spacing: -0.05em;
  margin-top: 2em;
  margin-bottom: 2em;
  color: black;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* line 296, ../sass/styles.scss */
code {
  font-size: 95%;
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  color: black;
}

/* line 302, ../sass/styles.scss */
iframe {
  width: 100%;
  height: 100%;
  background: white;
  border: 1px solid silver;
  margin: -1px;
}

/* line 311, ../sass/styles.scss */
h3 + iframe {
  margin-top: 1.333em;
  height: 88%;
}

/* line 317, ../sass/styles.scss */
article.fill iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  z-index: -1;
}
/* line 328, ../sass/styles.scss */
article.fill img {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  z-index: -1;
}

/* line 339, ../sass/styles.scss */
img.centered {
  margin: 0 auto;
  display: block;
}

/* line 344, ../sass/styles.scss */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.333em;
}

/* line 350, ../sass/styles.scss */
th {
  font-weight: 600;
  text-align: left;
}

/* line 355, ../sass/styles.scss */
td, th {
  border: 1px solid #e0e0e0;
  padding: 1% 2%;
  vertical-align: top;
}

/* line 361, ../sass/styles.scss */
.source {
  position: absolute;
  left: 7.5%;
  bottom: 5%;
  padding-right: 11.667em;
  font-size: 0.5em;
  letter-spacing: 0;
  line-height: 1.2em;
}

/* line 371, ../sass/styles.scss */
q {
  display: block;
  font-size: 2em;
  line-height: 1.2em;
  margin-left: 0.333em;
  margin-top: 1.667em;
  margin-right: 2.5em;
}
/* line 378, ../sass/styles.scss */
q::before {
  content: '“';
  position: absolute;
  display: inline-block;
  margin-left: -2.1em;
  width: 2em;
  text-align: right;
  color: silver;
}
/* line 387, ../sass/styles.scss */
q::after {
  content: '”';
  position: absolute;
  margin-left: .1em;
  color: silver;
}
/* line 393, ../sass/styles.scss */
q::before, q::after {
  font-size: 1.5em;
}

/* line 398, ../sass/styles.scss */
div.author {
  text-align: right;
  font-size: 1.333em;
  margin-top: 0.5em;
  margin-right: 3.750em;
}
/* line 403, ../sass/styles.scss */
div.author::before {
  content: '—';
}

/* line 410, ../sass/styles.scss */
article.smaller p, article.smaller ul, article.smaller table, article.smaller p {
  font-size: 0.667em;
  letter-spacing: 0;
  line-height: 1.2em;
}
/* line 415, ../sass/styles.scss */
article.smaller pre {
  font-size: 0.5em;
  letter-spacing: 0;
}
/* line 419, ../sass/styles.scss */
article.smaller q {
  font-size: 1.333em;
  line-height: 1.2em;
  margin-top: 2.500em;
}

/* line 427, ../sass/styles.scss */
.build > * {
  -webkit-transition: opacity 0.5s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.5s ease-in-out 0.2s;
  -o-transition: opacity 0.5s ease-in-out 0.2s;
  transition: opacity 0.5s ease-in-out 0.2s;
}

/* line 431, ../sass/styles.scss */
.to-build {
  opacity: 0;
}

/* line 437, ../sass/styles.scss */
.prettyprint .str, .prettyprint .atv {
  color: #008a35;
}
/* line 441, ../sass/styles.scss */
.prettyprint .kwd, .prettyprint .tag {
  color: #0066cc;
}
/* line 445, ../sass/styles.scss */
.prettyprint .com {
  color: #7f7f7f;
  font-style: italic;
}
/* line 450, ../sass/styles.scss */
.prettyprint .lit {
  color: #7f0000;
}
/* line 454, ../sass/styles.scss */
.prettyprint .pun, .prettyprint .opn, .prettyprint .clo {
  color: #7f7f7f;
}
/* line 457, ../sass/styles.scss */
.prettyprint .typ, .prettyprint .atn, .prettyprint .dec, .prettyprint .var {
  color: #7f007f;
}

@media (max-height: 799px) {
  /* line 465, ../sass/styles.scss */
  body {
    font-size: 0.75em;
  }
}
@media (max-width: 979px) {
  /* line 470, ../sass/styles.scss */
  body {
    font-size: 0.75em;
  }
}
@media (max-height: 649px) {
  /* line 476, ../sass/styles.scss */
  body {
    font-size: 0.625em;
  }
}
@media (max-width: 769px) {
  /* line 481, ../sass/styles.scss */
  body {
    font-size: 0.625em;
  }
}
@media (max-height: 549px) {
  /* line 487, ../sass/styles.scss */
  body {
    font-size: 0.5em;
  }
}
@media (max-width: 579px) {
  /* line 492, ../sass/styles.scss */
  body {
    font-size: 0.5em;
  }
}
@media (max-height: 449px) {
  /* line 498, ../sass/styles.scss */
  body {
    font-size: 0.438em;
  }
}
@media (max-width: 439px) {
  /* line 504, ../sass/styles.scss */
  body {
    font-size: 0.438em;
  }
}
@media (max-height: 349px) {
  /* line 510, ../sass/styles.scss */
  body {
    font-size: 0.375em;
  }
}
@media (max-width: 359px) {
  /* line 515, ../sass/styles.scss */
  body {
    font-size: 0.375em;
  }
}
@media (max-height: 299px) {
  /* line 521, ../sass/styles.scss */
  body {
    font-size: 0.313em;
  }
}
@media (max-width: 289px) {
  /* line 526, ../sass/styles.scss */
  body {
    font-size: 0.313em;
  }
}
@media (max-height: 249px) {
  /* line 532, ../sass/styles.scss */
  body {
    font-size: 0.250em;
  }
}
@media (max-width: 249px) {
  /* line 537, ../sass/styles.scss */
  body {
    font-size: 0.250em;
  }
}
